<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> PET SHOP </title>

    <!-- css -->
    <link rel="stylesheet" href="../css/profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

        <!-- Javascript -->
        <script
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"
      ></script>


  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="avatar">
            <div class="user-online-indicator"></div>

            <!-- profile picture -->
            <img
              src="profilePic/<%= data.image %>" alt="<%= data.image %>"
            />



        <!-- setting -->
        <div class="card-footer">
          <div class="social-buttons">

            <button>
                <a href="/profile_update" class="social-icon">
                <i class="fa-solid fa-pencil"></i>
                </a>
            </button>

            <button>
                <a href="/" class="social-icon">
                <i class="fa-solid fa-home"></i>
                </a>
            </button>

          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
  </html>


  <script>
    let tl = gsap.timeline();

console.log("New");

tl.from(".card", {
  stagger: 0.2,
  opacity: 0,
  x: -20,
});

tl.from(".avatar img", {
  stagger: 0.2,
  opacity: 0,
  y: 20,
});

tl.from(".user-online-indicator",{
    stagger: 0.2,
    opacity: 0,
    y: 20,
})
tl.from(".profile-name",{
    stagger: 0.2,
    opacity: 0,
    y: 20,
})
tl.from(".profile-role",{
    stagger: 0.2,
    opacity: 0,
    y: 20,
})

tl.from(".social-buttons",{
    stagger: 0.2,
    opacity: 0,
})
  </script>